.h5_component_bar_v .line{
	width:14%;
	height:100%;
	font-style:12px;
	float:left;
	position:relative;
	margin-left:15px;
}
.h5_component_bar_v .name{
	height:25px;
	line-height:25px;
	color:#000;
	text-align:center;
	margin-top:15px;
	position:absolute;
	bottom:0;
}

.h5_component_bar_v .rate{
	width:15px;
	height:100%;
	margin-left:-4px;
	position:absolute;
	bottom:20px;
	left:50%;
	
}

.h5_component_bar_v .rate .bg{
	background-color:#99c0ff;
	height:0;/*初始设为0% */
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
}
.h5_component_bar_v .per{
	height:20px;
	width:100%;
	text-align:center;
	color:#99c0ff;
	-webkit-opacity:0;
	position:absolute;
	margin-bottom:5px;
}
.h5_component_bar_v_load .rate .bg{
	-webkit-transition:all 1s 1s;/*延迟1s因为之前还有animate动画*/
	height:100%;
}
.h5_component_bar_v_load .per{
	-webkit-transition:all 1s 1.5s;/*延迟1秒*/
	-webkit-opacity:1;
}
.h5_component_bar_v_leave .rate .bg{
	height:0;
}
.h5_component_bar_v_leave .per{
	-webkit-opacity:0;
}

